{% extends 'global/base.html' %}
{% load static %}

{% block title %}About me |{% endblock title %}

{% block content %}

<div class="arrow"></div>

<section class="hero">   
    <div class="hero-inner" id="section-0">
        <figure></figure>
        <div class="descricao">
            <h1 class="hero__title">Student of Materials Engineering at CEFET-MG, Brazil</h1>
        </div>
        <div class="imagem-descricao">
            <img src="{% static 'global/img/engineer.png' %}" alt="engineer">
        </div> 
    </div>
</section>
<section class="hero">
    <div class="hero-inner" id="section-0">
        <figure></figure>
        <div class="descricao">
            <h1 class="hero__title">Started learning Python in the beginning of 2022</h1>
        </div>
        <div class="imagem-descricao">
            <img src="{% static 'global/img/pythonb.png' %}" alt="pythonb">
        </div> 
    </div>
</section>
<section class="hero"><div class="hero-inner" id="section-0">
    <figure></figure>
    <div class="descricao">
        <h1 class="hero__title">After some projects, I`m now willing to learn mobile development</h1>
    </div>
    <div class="imagem-descricao">
        <img src="{% static 'global/img/iphone.png' %}" alt="iphone">
    </div> 
</div>
</section>

{% endblock content %}