{% extends 'global/base.html' %}
{% load static %}

{% block title %}About me |{% endblock title %}

{% block content %}
<div class="page-container">
    <div class="arrow"></div>
    <section class="page">   
        <div class="grid-container">
            <div class="descricao">
                <h1>I'm a student of Materials Engineering at CEFET-MG, Brazil</h1>
            </div>
            <div class="imagem-descricao">
                <img src="{% static 'global/img/engineer.png' %}" alt="engineer">
            </div> 
        </div>
    </section>

    <section class="page">   
        <div class="grid-container">
            <div class="descricao">
                <h1>I have worked in industry as a Production Leader until the end of 2021</h1>
            </div>
            <div class="imagem-descricao">
                <img src="{% static 'global/img/industry.png' %}" alt="engineer">
            </div> 
        </div>
    </section>

    <section class="page">   
        <div class="grid-container">
            <div class="descricao">
                <h1>I started learning Python/Django in the beginning of 2022</h1>
            </div>
            <div class="imagem-descricao">
                <img src="{% static 'global/img/pythonb.png' %}" alt="engineer">
            </div> 
        </div>
    </section>

    <section class="page">   
        <div class="grid-container">
            <div class="descricao">
                <h1>These are skills that I have learned until now</h1>
            </div>
            <div class="imagem-descricao">
                <img src="{% static 'global/img/skills.png' %}" alt="engineer">
            </div> 
        </div>
    </section>

    <section class="page">   
        <div class="grid-container">
            <div class="descricao">
                <h1>I`m now willing to learn mobile development too</h1>
            </div>
            <div class="imagem-descricao">
                <img src="{% static 'global/img/iphone.png' %}" alt="engineer">
            </div> 
        </div>
    </section>
</div>

{% endblock content %}