{% extends 'global/base.html' %}
{% load static %}

{% block title %}Home |{% endblock title %}

{% block content %}
<div class="container">

    <div class="presentation">
        <div class="text">
            <h1>ANDRE</h1>
            <h1>FONSECA</h1>
            <h2>Software Developer</h2>
            <h3>I love bringing ideas to life!</h3>
        </div>
    </div>

    <div class="computer">
        <img src="{% static 'global/img/computer.png' %}" alt="computer-image">
    </div>

</div>

{% endblock content %}