{% extends 'global/base.html' %}
{% load static %}

{% block title %}My work |{% endblock title %}

{% block content %}
    <div class="title-container">
        <h1>Django projects</h1>
    </div>    
    <div class="project-container">
        <div class="project-img"></div>
        <div class="project-desc">
            <h1>Sneakers Marketplace</h1>
            <h2>A sneaker marketplace where anyone can register, login, create your own listing and look for other users sneakers</h2>
            <h3>Tools used:</h3>
            <h4>Python, Django framework, MySQL, CSS, HTML, Javascript, Photoshop</h4>
            <a href='https://github.com/andrefonseca99/projeto1' target="_blank">
                ▶ See on github
            </a>
            <a href='https://sneakers.andrepf.com/' target="_blank">
                ▶ Visit website
            </a>
        </div>
    </div>

    <div class="project-container">
        <div class="project-img"></div>
        <div class="project-desc">
            <h1>Portfolio</h1>
            <h2>This personal portfolio, where I can introduce myself and share part of my work</h2>
            <h3>Tools used:</h3>
            <h4>Python, Django framework, CSS, HTML, Javascript, Photoshop</h4>
            <a href='https://github.com/andrefonseca99/portfolio' target="_blank">
                ▶ See on github
            </a>
            <a href='https://sneakers.andrepf.com/' target="_blank">
                ▶ Visit website
            </a>
        </div>
    </div>

    <div class="project-container">
        <div class="project-img"></div>
        <div class="project-desc">
            <h1>Vehicle Store (WIP)</h1>
            <h2>A vehicle store website where is possible to put car listings with a full description and some photos of the cars</h2>
            <h3>Tools used:</h3>
            <h4>Python, Django framework, MySQL, CSS, HTML, Javascript</h4>
            <a href='https://github.com/andrefonseca99/vehicle-store' target="_blank">
                ▶ See on github
            </a>
            <a href='https://sneakers.andrepf.com/' target="_blank">
                ▶ Visit website
            </a>
        </div>
    </div>
    
{% endblock content %}