{% extends 'global/base.html' %}
{% load static %}

{% block title %}My work |{% endblock title %}

{% block content %}
<div class="my-work">
    <div class="title-container">
        <h1>Personal projects</h1>
    </div>   
    <div class="projects-container">
        <div class="project-container">
            <div class="project-img">
                <a href='https://sneakers.andrepf.com/' target="_blank">
                    <img src="{% static 'global/img/sneakers_devices.png' %}" alt="sneakers_devices">
                </a>
            </div>
            <div class="project-desc">
                <a href='https://sneakers.andrepf.com/' target="_blank">
                    <h1>Sneakers Marketplace</h1>
                </a>
                <h2>A sneaker marketplace where anyone can register, login, create your own listing and look for other users sneakers</h2>
                <h3>Tools used:</h3>
                <h4>Python - Django - SQL - CSS - HTML - Javascript - Photoshop</h4>
                
                <div class="project-links">
                    <div class="links-container">
                        <a href='https://github.com/andrefonseca99/projeto1' target="_blank">
                            <img src="{% static 'global/img/github-icon.png' %}" alt="github-icon">
                        </a>            
                        <a href='https://github.com/andrefonseca99/projeto1' target="_blank">
                            See on github
                        </a>
                    </div>

                    <div class="links-container">
                        <a href='https://sneakers.andrepf.com/' target="_blank">
                            <img src="{% static 'global/img/web-icon.png' %}" alt="github-icon">
                        </a>            
                        <a href='https://sneakers.andrepf.com/' target="_blank">
                            Go to website
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="project-container">
            <div class="project-img">
                <a href='https://andrepf.com/' target="_blank">
                    <img src="{% static 'global/img/portfolio_devices.png' %}" alt="portfolio_devices">
                </a>
            </div>
            <div class="project-desc">
                <a href='https://andrepf.com/' target="_blank">
                    <h1>Portfolio</h1>
                </a>
                <h2>This personal portfolio, where I can introduce myself and share part of my work</h2>
                <h3>Tools used:</h3>
                <h4>Python - Django - CSS - HTML - Javascript - Photoshop</h4>
                
                <div class="project-links">
                    <div class="links-container">
                        <a href='https://github.com/andrefonseca99/portfolio' target="_blank">
                            <img src="{% static 'global/img/github-icon.png' %}" alt="github-icon">
                        </a>            
                        <a href='https://github.com/andrefonseca99/portfolio' target="_blank">
                            See on github
                        </a>
                    </div>

                    <div class="links-container">
                        <a href='https://andrepf.com/' target="_blank">
                            <img src="{% static 'global/img/web-icon.png' %}" alt="github-icon">
                        </a>            
                        <a href='https://andrepf.com/' target="_blank">
                            Go to website
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="project-container">
            <div class="project-img">
                <a href='https://github.com/andrefonseca99/vehicle-store' target="_blank">
                    <img src="{% static 'global/img/vehicle_devices.png' %}" alt="vehicle_devices">
                </a>
            </div>
            <div class="project-desc">
                <a href='https://github.com/andrefonseca99/vehicle-store' target="_blank">
                    <h1>Vehicle Store (WIP)</h1>
                </a>
                <h2>A vehicle store website where is possible to put car listings with a full description and some photos of the cars</h2>
                <h3>Tools used:</h3>
                <h4>Python - Django - SQL - CSS - HTML - Javascript - Photoshop</h4>
                
                <div class="project-links">
                    <div class="links-container">
                        <a href='https://github.com/andrefonseca99/vehicle-store' target="_blank">
                            <img src="{% static 'global/img/github-icon.png' %}" alt="github-icon">
                        </a>            
                        <a href='https://github.com/andrefonseca99/vehicle-store' target="_blank">
                            See on github
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>  
{% endblock content %}